@model InventoryManagementSystem.Models.Purchase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Purchase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Customer's Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>

        <dt>
            Product
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product)
        </dd>
        <dt>Quantity</dt>
        <dd>@Html.DisplayFor(model => model.PurchaseID)</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PurchaseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
