@model IEnumerable<InventoryManagementSystem.Models.Purchase>

@{
    ViewBag.Title = "Index";
}

<h2>Transaction</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Product</th>
        <th>Customer's Last Name</th>
        <th>Quantity</th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.Product.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PurchaseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PurchaseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PurchaseID })
        </td>
    </tr>
}

</table>
