@model IEnumerable<InventoryManagementSystem.Models.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.SectionID)
        </th>*@
       
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.InventoryNumber)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>

        @*<td>
            @Html.DisplayFor(modelItem => item.SectionID)
        </td>*@
        
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
